
.container {
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.grid {
    display: flex;
    border: 1px solid black;
}

.grid:before {
    content: '';
    display: block;
    padding-top: 100%;
}